#options, #checks, #phase, #timer-container {
    margin-bottom: 1em;
}

#options > .timer-option {
    display: inline-block;
    width: 200px;
}

@media screen and (max-width: 768px) {
    #title {
        font-size: 3em;
    }
    #options > .timer-option {
        display: block;
        margin: 0 auto 2em;
    }
}
